<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="context" value="EF"/>
  </appSettings>
  <connectionStrings>
    <add name="MyConnectionString"
			 connectionString="Data Source=DESKTOP-R7DLGC4;Initial Catalog=StudentAttendanceDB;Integrated Security=True;" />
    <add name="MasterConnectionString"
			 connectionString="Data Source=DESKTOP-R7DLGC4;Initial Catalog=master;Integrated Security=True;" />
  </connectionStrings>
</configuration>