<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="context" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="MyConnectionString"
			 connectionString="Data Source=LAPTOP-3HK376SV\SQLEXPRESS;Initial Catalog=RewardingUsers;Integrated Security=True;" />
  </connectionStrings>
</configuration>